In [251]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

In [252]:
# Series creation
series_data = pd.Series([1, 3, 5, np.nan, 6, 8], index=['a', 'b', 'c', 'd', 'e', 'f'])
print("Series:")
print(series_data)
print()

Series:
a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

In [253]:
# Create comprehensive DataFrames
dates = pd.date_range('20240101', periods=6)
df6 = pd.DataFrame({
    'A': [1, 2, 3, 4, 5, 6],
    'B': pd.Timestamp('20240102'),
    'C': pd.Series(1.0, index=list(range(6)), dtype=float),
    'D': np.array([3] * 6, dtype='int32'),
    'E': pd.Categorical(["test", "train", "test", "train", "test", "train"]),
    'F': 'foo',
    'G': [1.1, 2.2, 3.3, 4.4, 5.5, 6.6],
    'H': pd.Series([True, False, True, False, True, False])
}, index=dates)

In [254]:
# Create additional sample DataFrames
df = pd.DataFrame({'x': range(10), 'y': range(10, 20)})
df1 = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]})
df2 = pd.DataFrame({'key': ['A', 'B', 'C'], 'val1': [10, 20, 30]})
df3 = pd.DataFrame({'key': ['A', 'B', 'D'], 'val2': [100, 200, 400]})
df4 = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie'], 'age': [25, 30, 35]})
df5 = pd.DataFrame({'product': ['X', 'Y', 'Z'], 'price': [100, 200, 300]})

print("Main DataFrame (df6):")
print(df6)
print(f"\ndf6 dtypes:\n{df6.dtypes}")
print()

Main DataFrame (df6):
            A          B   C  D      E    F    G    H
2024-01-01  1 2024-01-02 NaN  3   test  foo  1.1  NaN
2024-01-02  2 2024-01-02 NaN  3  train  foo  2.2  NaN
2024-01-03  3 2024-01-02 NaN  3   test  foo  3.3  NaN
2024-01-04  4 2024-01-02 NaN  3  train  foo  4.4  NaN
2024-01-05  5 2024-01-02 NaN  3   test  foo  5.5  NaN
2024-01-06  6 2024-01-02 NaN  3  train  foo  6.6  NaN

df6 dtypes:
A            int64
B    datetime64[s]
C          float64
D            int32
E         category
F           object
G          float64
H           object
dtype: object

In [255]:

# VIEWING DATA 
print("Head (first 3 rows) of df6:")
print(df6.head(3))
print("\nTail (last 2 rows) of df6:")
print(df6.tail(2))
print("\nInfo for df6:")
print(df6.info())
print("\nDescribe df6:")
print(df6.describe())

Head (first 3 rows) of df6:
            A          B   C  D      E    F    G    H
2024-01-01  1 2024-01-02 NaN  3   test  foo  1.1  NaN
2024-01-02  2 2024-01-02 NaN  3  train  foo  2.2  NaN
2024-01-03  3 2024-01-02 NaN  3   test  foo  3.3  NaN

Tail (last 2 rows) of df6:
            A          B   C  D      E    F    G    H
2024-01-05  5 2024-01-02 NaN  3   test  foo  5.5  NaN
2024-01-06  6 2024-01-02 NaN  3  train  foo  6.6  NaN

Info for df6:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2024-01-01 to 2024-01-06
Freq: D
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      int64
 1   B       6 non-null      datetime64[s]
 2   C       0 non-null      float64
 3   D       6 non-null      int32
 4   E       6 non-null      category
 5   F       6 non-null      object
 6   G       6 non-null      float64
 7   H       0 non-null      object
dtypes: category(1), datetime64[s](1), float64(2), int32(1), int64(1), object(2)
memory usage: 490.0+ bytes
None

Describe df6:
              A                    B    C    D         G
count  6.000000                    6  0.0  6.0  6.000000
mean   3.500000  2024-01-02 00:00:00  NaN  3.0  3.850000
min    1.000000  2024-01-02 00:00:00  NaN  3.0  1.100000
25%    2.250000  2024-01-02 00:00:00  NaN  3.0  2.475000
50%    3.500000  2024-01-02 00:00:00  NaN  3.0  3.850000
75%    4.750000  2024-01-02 00:00:00  NaN  3.0  5.225000
max    6.000000  2024-01-02 00:00:00  NaN  3.0  6.600000
std    1.870829                  NaN  NaN  0.0  2.057912
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2024-01-01 to 2024-01-06
Freq: D
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      int64
 1   B       6 non-null      datetime64[s]
 2   C       0 non-null      float64
 3   D       6 non-null      int32
 4   E       6 non-null      category
 5   F       6 non-null      object
 6   G       6 non-null      float64
 7   H       0 non-null      object
dtypes: category(1), datetime64[s](1), float64(2), int32(1), int64(1), object(2)
memory usage: 490.0+ bytes
None

Describe df6:
              A                    B    C    D         G
count  6.000000                    6  0.0  6.0  6.000000
mean   3.500000  2024-01-02 00:00:00  NaN  3.0  3.850000
min    1.000000  2024-01-02 00:00:00  NaN  3.0  1.100000
25%    2.250000  2024-01-02 00:00:00  NaN  3.0  2.475000
50%    3.500000  2024-01-02 00:00:00  NaN  3.0  3.850000
75%    4.750000  2024-01-02 00:00:00  NaN  3.0  5.225000
max    6.000000  2024-01-02 00:00:00  NaN  3.0  6.600000
std    1.870829                  NaN  NaN  0.0  2.057912

In [256]:
# Additional viewing methods
print("\nSample (random 3 rows) from df6:")
print(df6.sample(3))
print("\nValue counts for categorical column E:")
print(df6['E'].value_counts())
print("\nNunique (number of unique values) for each column:")
print(df6.nunique())
print("\nMemory usage of df6:")
print(df6.memory_usage(deep=True))
print("\nColumns of df6:")
print(df6.columns.tolist())
print("\nIndex of df6:")
print(df6.index)
print("\nShape of df6:")
print(df6.shape)
print("\nSize of df6:")
print(df6.size)

Sample (random 3 rows) from df6:
            A          B   C  D      E    F    G    H
2024-01-01  1 2024-01-02 NaN  3   test  foo  1.1  NaN
2024-01-04  4 2024-01-02 NaN  3  train  foo  4.4  NaN
2024-01-02  2 2024-01-02 NaN  3  train  foo  2.2  NaN

Value counts for categorical column E:
E
test     3
train    3
Name: count, dtype: int64

Nunique (number of unique values) for each column:
A    6
B    1
C    0
D    1
E    2
F    1
G    6
H    0
dtype: int64

Memory usage of df6:
Index     48
A         48
B         48
C         48
D         24
E        221
F        312
G         48
H        192
dtype: int64

Columns of df6:
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

Index of df6:
DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06'],
              dtype='datetime64[ns]', freq='D')

Shape of df6:
(6, 8)

Size of df6:
48

In [257]:
# Additional viewing methods
print("\nFirst valid index:")
print(df6.first_valid_index())
print("\nLast valid index:")
print(df6.last_valid_index())
print("\nAxes:")
print(df6.axes)
print("\nValues (numpy array):")
print(df6.values)
print("\nT (transpose):")
print(df6.T)
print()

First valid index:
2024-01-01 00:00:00

Last valid index:
2024-01-06 00:00:00

Axes:
[DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06'],
              dtype='datetime64[ns]', freq='D'), Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'], dtype='object')]

Values (numpy array):
[[1 Timestamp('2024-01-02 00:00:00') nan 3 'test' 'foo' 1.1 nan]
 [2 Timestamp('2024-01-02 00:00:00') nan 3 'train' 'foo' 2.2 nan]
 [3 Timestamp('2024-01-02 00:00:00') nan 3 'test' 'foo' 3.3 nan]
 [4 Timestamp('2024-01-02 00:00:00') nan 3 'train' 'foo' 4.4 nan]
 [5 Timestamp('2024-01-02 00:00:00') nan 3 'test' 'foo' 5.5 nan]
 [6 Timestamp('2024-01-02 00:00:00') nan 3 'train' 'foo' 6.6 nan]]

T (transpose):
            2024-01-01           2024-01-02           2024-01-03  \
A                    1                    2                    3
B  2024-01-02 00:00:00  2024-01-02 00:00:00  2024-01-02 00:00:00
C                  NaN                  NaN                  NaN
D                    3                    3                    3
E                 test                train                 test
F                  foo                  foo                  foo
G                  1.1                  2.2                  3.3
H                  NaN                  NaN                  NaN

            2024-01-04           2024-01-05           2024-01-06
A                    4                    5                    6
B  2024-01-02 00:00:00  2024-01-02 00:00:00  2024-01-02 00:00:00
C                  NaN                  NaN                  NaN
D                    3                    3                    3
E                train                 test                train
F                  foo                  foo                  foo
G                  4.4                  5.5                  6.6
H                  NaN                  NaN                  NaN

In [258]:
# Column selection
print("Select column 'A' from df6:")
print(df6['A'])
print("\nSelect multiple columns from df6:")
print(df6[['A', 'C']])

Select column 'A' from df6:
2024-01-01    1
2024-01-02    2
2024-01-03    3
2024-01-04    4
2024-01-05    5
2024-01-06    6
Freq: D, Name: A, dtype: int64

Select multiple columns from df6:
            A   C
2024-01-01  1 NaN
2024-01-02  2 NaN
2024-01-03  3 NaN
2024-01-04  4 NaN
2024-01-05  5 NaN
2024-01-06  6 NaN

In [259]:
# Row selection by label
print("\nSelect by label (first row) from df6:")
print(df6.loc[dates[0]])

Select by label (first row) from df6:
A                      1
B    2024-01-02 00:00:00
C                    NaN
D                      3
E                   test
F                    foo
G                    1.1
H                    NaN
Name: 2024-01-01 00:00:00, dtype: object

In [260]:
# Row selection by position
print("\nSelect by position (rows 0-2, columns 0-2) from df6:")
print(df6.iloc[0:3, 0:3])

Select by position (rows 0-2, columns 0-2) from df6:
            A          B   C
2024-01-01  1 2024-01-02 NaN
2024-01-02  2 2024-01-02 NaN
2024-01-03  3 2024-01-02 NaN

In [261]:
# Boolean indexing
print("\nBoolean indexing (A > 3) from df6:")
print(df6[df6['A'] > 3])

Boolean indexing (A > 3) from df6:
            A          B   C  D      E    F    G    H
2024-01-04  4 2024-01-02 NaN  3  train  foo  4.4  NaN
2024-01-05  5 2024-01-02 NaN  3   test  foo  5.5  NaN
2024-01-06  6 2024-01-02 NaN  3  train  foo  6.6  NaN

In [262]:
# Additional selection methods
print("\nUsing isin on df6:")
print(df6[df6['E'].isin(['test'])])
print("\nUsing where method on df6:")
print(df6.where(df6['A'] > 3))
print("\nUsing mask method on df6:")
print(df6.mask(df6['A'] <= 3))
print(f"\nFast scalar access with at: {df6.at[dates[0], 'A']}")
print(f"Fast scalar access with iat: {df6.iat[0, 0]}")
print(f"\nGet method: {df6.get('A', 'Not found')}")
print("\nFancy indexing with list of positions:")
print(df6.iloc[[0, 2, 4]])
print("\nMultiple conditions (A > 2) & (G < 5.0):")
print(df6[(df6['A'] > 2) & (df6['G'] < 5.0)])
print("\nUsing query method:")
print(df6.query('A > 2 and G < 5.0'))
print("\nFilter columns containing 'A' or 'G':")
print(df6.filter(regex='[AG]'))
print("\nSelect only numeric columns:")
print(df6.select_dtypes(include=[np.number]))
print("\nSelect only object columns:")
print(df6.select_dtypes(include=['object']))

Using isin on df6:
            A          B   C  D     E    F    G    H
2024-01-01  1 2024-01-02 NaN  3  test  foo  1.1  NaN
2024-01-03  3 2024-01-02 NaN  3  test  foo  3.3  NaN
2024-01-05  5 2024-01-02 NaN  3  test  foo  5.5  NaN

Using where method on df6:
              A          B   C    D      E    F    G    H
2024-01-01  NaN        NaT NaN  NaN    NaN  NaN  NaN  NaN
2024-01-02  NaN        NaT NaN  NaN    NaN  NaN  NaN  NaN
2024-01-03  NaN        NaT NaN  NaN    NaN  NaN  NaN  NaN
2024-01-04  4.0 2024-01-02 NaN  3.0  train  foo  4.4  NaN
2024-01-05  5.0 2024-01-02 NaN  3.0   test  foo  5.5  NaN
2024-01-06  6.0 2024-01-02 NaN  3.0  train  foo  6.6  NaN

Using mask method on df6:
              A          B   C    D      E    F    G    H
2024-01-01  NaN        NaT NaN  NaN    NaN  NaN  NaN  NaN
2024-01-02  NaN        NaT NaN  NaN    NaN  NaN  NaN  NaN
2024-01-03  NaN        NaT NaN  NaN    NaN  NaN  NaN  NaN
2024-01-04  4.0 2024-01-02 NaN  3.0  train  foo  4.4  NaN
2024-01-05  5.0 2024-01-02 NaN  3.0   test  foo  5.5  NaN
2024-01-06  6.0 2024-01-02 NaN  3.0  train  foo  6.6  NaN

Fast scalar access with at: 1
Fast scalar access with iat: 1

Get method: 2024-01-01    1
2024-01-02    2
2024-01-03    3
2024-01-04    4
2024-01-05    5
2024-01-06    6
Freq: D, Name: A, dtype: int64

Fancy indexing with list of positions:
            A          B   C  D     E    F    G    H
2024-01-01  1 2024-01-02 NaN  3  test  foo  1.1  NaN
2024-01-03  3 2024-01-02 NaN  3  test  foo  3.3  NaN
2024-01-05  5 2024-01-02 NaN  3  test  foo  5.5  NaN

Multiple conditions (A > 2) & (G < 5.0):
            A          B   C  D      E    F    G    H
2024-01-03  3 2024-01-02 NaN  3   test  foo  3.3  NaN
2024-01-04  4 2024-01-02 NaN  3  train  foo  4.4  NaN

Using query method:
            A          B   C  D      E    F    G    H
2024-01-03  3 2024-01-02 NaN  3   test  foo  3.3  NaN
2024-01-04  4 2024-01-02 NaN  3  train  foo  4.4  NaN

Filter columns containing 'A' or 'G':
            A    G
2024-01-01  1  1.1
2024-01-02  2  2.2
2024-01-03  3  3.3
2024-01-04  4  4.4
2024-01-05  5  5.5
2024-01-06  6  6.6

Select only numeric columns:
            A   C  D    G
2024-01-01  1 NaN  3  1.1
2024-01-02  2 NaN  3  2.2
2024-01-03  3 NaN  3  3.3
2024-01-04  4 NaN  3  4.4
2024-01-05  5 NaN  3  5.5
2024-01-06  6 NaN  3  6.6

Select only object columns:
              F    H
2024-01-01  foo  NaN
2024-01-02  foo  NaN
2024-01-03  foo  NaN
2024-01-04  foo  NaN
2024-01-05  foo  NaN
2024-01-06  foo  NaN
            A          B   C  D      E    F    G    H
2024-01-03  3 2024-01-02 NaN  3   test  foo  3.3  NaN
2024-01-04  4 2024-01-02 NaN  3  train  foo  4.4  NaN

Filter columns containing 'A' or 'G':
            A    G
2024-01-01  1  1.1
2024-01-02  2  2.2
2024-01-03  3  3.3
2024-01-04  4  4.4
2024-01-05  5  5.5
2024-01-06  6  6.6

Select only numeric columns:
            A   C  D    G
2024-01-01  1 NaN  3  1.1
2024-01-02  2 NaN  3  2.2
2024-01-03  3 NaN  3  3.3
2024-01-04  4 NaN  3  4.4
2024-01-05  5 NaN  3  5.5
2024-01-06  6 NaN  3  6.6

Select only object columns:
              F    H
2024-01-01  foo  NaN
2024-01-02  foo  NaN
2024-01-03  foo  NaN
2024-01-04  foo  NaN
2024-01-05  foo  NaN
2024-01-06  foo  NaN

In [263]:


# Additional selection methods
print("\nUsing between method:")
print(df6[df6['A'].between(2, 4)])
print("\nUsing nlargest:")
print(df6.nlargest(3, 'A'))
print("\nUsing nsmallest:")
print(df6.nsmallest(3, 'G'))
print("\nUsing idxmax:")
print(df6.idxmax())
print("\nUsing idxmin:")
print(df6.idxmin())
print()

Using between method:
            A          B   C  D      E    F    G    H
2024-01-02  2 2024-01-02 NaN  3  train  foo  2.2  NaN
2024-01-03  3 2024-01-02 NaN  3   test  foo  3.3  NaN
2024-01-04  4 2024-01-02 NaN  3  train  foo  4.4  NaN

Using nlargest:
            A          B   C  D      E    F    G    H
2024-01-06  6 2024-01-02 NaN  3  train  foo  6.6  NaN
2024-01-05  5 2024-01-02 NaN  3   test  foo  5.5  NaN
2024-01-04  4 2024-01-02 NaN  3  train  foo  4.4  NaN

Using nsmallest:
            A          B   C  D      E    F    G    H
2024-01-01  1 2024-01-02 NaN  3   test  foo  1.1  NaN
2024-01-02  2 2024-01-02 NaN  3  train  foo  2.2  NaN
2024-01-03  3 2024-01-02 NaN  3   test  foo  3.3  NaN

Using idxmax:
A   2024-01-06
B   2024-01-01
C          NaT
D   2024-01-01
E   2024-01-02
F   2024-01-01
G   2024-01-06
H          NaT
dtype: datetime64[ns]

Using idxmin:
A   2024-01-01
B   2024-01-01
C          NaT
D   2024-01-01
E   2024-01-01
F   2024-01-01
G   2024-01-01
H          NaT
dtype: datetime64[ns]

In [264]:
# Create DataFrame with missing data
df6_missing = df6.copy()
df6_missing.loc[dates[1], 'A'] = np.nan
df6_missing.loc[dates[2], 'G'] = np.nan
df6_missing.loc[dates[3], 'C'] = np.nan

print("df6 with missing data:")
print(df6_missing)
# Check if the DataFrame is missing any data
print(df6_missing.isnull())

df6 with missing data:
              A          B   C  D      E    F    G    H
2024-01-01  1.0 2024-01-02 NaN  3   test  foo  1.1  NaN
2024-01-02  NaN 2024-01-02 NaN  3  train  foo  2.2  NaN
2024-01-03  3.0 2024-01-02 NaN  3   test  foo  NaN  NaN
2024-01-04  4.0 2024-01-02 NaN  3  train  foo  4.4  NaN
2024-01-05  5.0 2024-01-02 NaN  3   test  foo  5.5  NaN
2024-01-06  6.0 2024-01-02 NaN  3  train  foo  6.6  NaN
                A      B     C      D      E      F      G     H
2024-01-01  False  False  True  False  False  False  False  True
2024-01-02   True  False  True  False  False  False  False  True
2024-01-03  False  False  True  False  False  False   True  True
2024-01-04  False  False  True  False  False  False  False  True
2024-01-05  False  False  True  False  False  False  False  True
2024-01-06  False  False  True  False  False  False  False  True

In [265]:
# Comprehensive missing data handling
print("\nDrop rows with any missing data:")
print(df6_missing.dropna())
print("\nDrop rows with all missing data:")
print(df6_missing.dropna(how='all'))
print("\nDrop columns with any missing data:")
print(df6_missing.dropna(axis=1))
print("\nDrop rows with missing data in specific columns:")
print(df6_missing.dropna(subset=['A', 'G']))
# print("\nFill missing data with 0:")
# print(df6_missing.fillna(0))

Drop rows with any missing data:
Empty DataFrame
Columns: [A, B, C, D, E, F, G, H]
Index: []

Drop rows with all missing data:
              A          B   C  D      E    F    G    H
2024-01-01  1.0 2024-01-02 NaN  3   test  foo  1.1  NaN
2024-01-02  NaN 2024-01-02 NaN  3  train  foo  2.2  NaN
2024-01-03  3.0 2024-01-02 NaN  3   test  foo  NaN  NaN
2024-01-04  4.0 2024-01-02 NaN  3  train  foo  4.4  NaN
2024-01-05  5.0 2024-01-02 NaN  3   test  foo  5.5  NaN
2024-01-06  6.0 2024-01-02 NaN  3  train  foo  6.6  NaN

Drop columns with any missing data:
                    B  D      E    F
2024-01-01 2024-01-02  3   test  foo
2024-01-02 2024-01-02  3  train  foo
2024-01-03 2024-01-02  3   test  foo
2024-01-04 2024-01-02  3  train  foo
2024-01-05 2024-01-02  3   test  foo
2024-01-06 2024-01-02  3  train  foo

Drop rows with missing data in specific columns:
              A          B   C  D      E    F    G    H
2024-01-01  1.0 2024-01-02 NaN  3   test  foo  1.1  NaN
2024-01-04  4.0 2024-01-02 NaN  3  train  foo  4.4  NaN
2024-01-05  5.0 2024-01-02 NaN  3   test  foo  5.5  NaN
2024-01-06  6.0 2024-01-02 NaN  3  train  foo  6.6  NaN

In [266]:
# Fixed deprecated fillna method parameter
print("\nForward fill:")
print(df6_missing.ffill())
print("\nBackward fill:")
print(df6_missing.bfill())

print("\nFill with column mean:")
print(df6_missing.fillna(df6_missing.mean(numeric_only=True)))

Forward fill:
              A          B   C  D      E    F    G   H
2024-01-01  1.0 2024-01-02 NaN  3   test  foo  1.1 NaN
2024-01-02  1.0 2024-01-02 NaN  3  train  foo  2.2 NaN
2024-01-03  3.0 2024-01-02 NaN  3   test  foo  2.2 NaN
2024-01-04  4.0 2024-01-02 NaN  3  train  foo  4.4 NaN
2024-01-05  5.0 2024-01-02 NaN  3   test  foo  5.5 NaN
2024-01-06  6.0 2024-01-02 NaN  3  train  foo  6.6 NaN

Backward fill:
              A          B   C  D      E    F    G   H
2024-01-01  1.0 2024-01-02 NaN  3   test  foo  1.1 NaN
2024-01-02  3.0 2024-01-02 NaN  3  train  foo  2.2 NaN
2024-01-03  3.0 2024-01-02 NaN  3   test  foo  4.4 NaN
2024-01-04  4.0 2024-01-02 NaN  3  train  foo  4.4 NaN
2024-01-05  5.0 2024-01-02 NaN  3   test  foo  5.5 NaN
2024-01-06  6.0 2024-01-02 NaN  3  train  foo  6.6 NaN

Fill with column mean:
              A          B   C  D      E    F     G    H
2024-01-01  1.0 2024-01-02 NaN  3   test  foo  1.10  NaN
2024-01-02  3.8 2024-01-02 NaN  3  train  foo  2.20  NaN
2024-01-03  3.0 2024-01-02 NaN  3   test  foo  3.96  NaN
2024-01-04  4.0 2024-01-02 NaN  3  train  foo  4.40  NaN
2024-01-05  5.0 2024-01-02 NaN  3   test  foo  5.50  NaN
2024-01-06  6.0 2024-01-02 NaN  3  train  foo  6.60  NaN

In [267]:
fill_values = {'A': 999, 'G': -1, 'C': 0}
print("\nFill with different values for different columns:")
print(df6_missing.fillna(value=fill_values))
# print("\nInterpolate missing values:")
# print(df6_missing.interpolate())
print("\nCheck for missing data (isna):")
print(df6_missing.isna())
print("\nSum of missing values per column:")
print(df6_missing.isna().sum())
print("\nCheck for not missing data (notna):")
print(df6_missing.notna().sum())
print("\nReplace specific values:")
print(df6.replace({'foo': 'bar', 1: 999}))

Fill with different values for different columns:
                A          B    C  D      E    F    G    H
2024-01-01    1.0 2024-01-02  0.0  3   test  foo  1.1  NaN
2024-01-02  999.0 2024-01-02  0.0  3  train  foo  2.2  NaN
2024-01-03    3.0 2024-01-02  0.0  3   test  foo -1.0  NaN
2024-01-04    4.0 2024-01-02  0.0  3  train  foo  4.4  NaN
2024-01-05    5.0 2024-01-02  0.0  3   test  foo  5.5  NaN
2024-01-06    6.0 2024-01-02  0.0  3  train  foo  6.6  NaN

Check for missing data (isna):
                A      B     C      D      E      F      G     H
2024-01-01  False  False  True  False  False  False  False  True
2024-01-02   True  False  True  False  False  False  False  True
2024-01-03  False  False  True  False  False  False   True  True
2024-01-04  False  False  True  False  False  False  False  True
2024-01-05  False  False  True  False  False  False  False  True
2024-01-06  False  False  True  False  False  False  False  True

Sum of missing values per column:
A    1
B    0
C    6
D    0
E    0
F    0
G    1
H    6
dtype: int64

Check for not missing data (notna):
A    5
B    6
C    0
D    6
E    6
F    6
G    5
H    0
dtype: int64

Replace specific values:
              A          B   C  D      E    F    G   H
2024-01-01  999 2024-01-02 NaN  3   test  bar  1.1 NaN
2024-01-02    2 2024-01-02 NaN  3  train  bar  2.2 NaN
2024-01-03    3 2024-01-02 NaN  3   test  bar  3.3 NaN
2024-01-04    4 2024-01-02 NaN  3  train  bar  4.4 NaN
2024-01-05    5 2024-01-02 NaN  3   test  bar  5.5 NaN
2024-01-06    6 2024-01-02 NaN  3  train  bar  6.6 NaN

In [268]:
# Additional missing data methods
print("\nFirst valid index for each column:")
print(df6_missing.first_valid_index())
print("\nLast valid index for each column:")
print(df6_missing.last_valid_index())
# print("\nInterpolate with different methods:")
# print(df6_missing.interpolate(method='linear'))
# print()

First valid index for each column:
2024-01-01 00:00:00

Last valid index for each column:
2024-01-06 00:00:00

In [269]:

# Comprehensive statistics
print("Comprehensive statistics for df6:")
print("Mean of numeric columns:")
print(df6.mean(numeric_only=True))
print("\nMedian:")
print(df6.median(numeric_only=True))
print("\nMode:")
print(df6.mode())
print("\nStandard deviation:")
print(df6.std(numeric_only=True))
print("\nVariance:")
print(df6.var(numeric_only=True))
print("\nMinimum:")
print(df6.min(numeric_only=True))
print("\nMaximum:")
print(df6.max(numeric_only=True))
print("\nSum:")
print(df6.sum(numeric_only=True))
print("\nProduct:")
print(df6.prod(numeric_only=True))
print("\nQuantiles:")
print(df6.quantile([0.25, 0.5, 0.75], numeric_only=True))
print("\nCorrelation matrix:")
print(df6.corr(numeric_only=True))
print("\nCovariance matrix:")
print(df6.cov(numeric_only=True))

Comprehensive statistics for df6:
Mean of numeric columns:
A    3.50
C     NaN
D    3.00
G    3.85
dtype: float64

Median:
A    3.50
C     NaN
D    3.00
G    3.85
dtype: float64

Mode:
   A          B   C    D      E    F    G    H
0  1 2024-01-02 NaN  3.0   test  foo  1.1  NaN
1  2        NaT NaN  NaN  train  NaN  2.2  NaN
2  3        NaT NaN  NaN    NaN  NaN  3.3  NaN
3  4        NaT NaN  NaN    NaN  NaN  4.4  NaN
4  5        NaT NaN  NaN    NaN  NaN  5.5  NaN
5  6        NaT NaN  NaN    NaN  NaN  6.6  NaN

Standard deviation:
A    1.870829
C         NaN
D    0.000000
G    2.057912
dtype: float64

Variance:
A    3.500
C      NaN
D    0.000
G    4.235
dtype: float64

Minimum:
A    1.0
C    NaN
D    3.0
G    1.1
dtype: float64

Maximum:
A    6.0
C    NaN
D    3.0
G    6.6
dtype: float64

Sum:
A    21.0
C     0.0
D    18.0
G    23.1
dtype: float64

Product:
A     720.00000
C       1.00000
D     729.00000
G    1275.52392
dtype: float64

Quantiles:
         A   C    D      G
0.25  2.25 NaN  3.0  2.475
0.50  3.50 NaN  3.0  3.850
0.75  4.75 NaN  3.0  5.225

Correlation matrix:
     A   C   D    G
A  1.0 NaN NaN  1.0
C  NaN NaN NaN  NaN
D  NaN NaN NaN  NaN
G  1.0 NaN NaN  1.0

Covariance matrix:
      A   C    D      G
A  3.50 NaN  0.0  3.850
C   NaN NaN  NaN    NaN
D  0.00 NaN  0.0  0.000
G  3.85 NaN  0.0  4.235

In [270]:
# Additional statistical methods
print("\nSkewness:")
print(df6.skew(numeric_only=True))
print("\nKurtosis:")
print(df6.kurtosis(numeric_only=True))
print("\nSemantic mean (mean of mean):")
print(df6.sem(numeric_only=True))
# print("\nMean absolute deviation:")
# print(df6.mad(numeric_only=True))

Skewness:
A    0.000000e+00
C             NaN
D    0.000000e+00
G   -3.668788e-16
dtype: float64

Kurtosis:
A   -1.2
C    NaN
D    0.0
G   -1.2
dtype: float64

Semantic mean (mean of mean):
A    0.763763
C         NaN
D    0.000000
G    0.840139
dtype: float64

In [271]:
# Apply functions
print("\nApply square function to column A:")
print(df6['A'].apply(lambda x: x**2))
print("\nApply function to entire DataFrame:")
print(df6.apply(lambda x: x.max() - x.min() if x.dtype in ['int64', 'float64'] else 'N/A'))
print("\nApply along axis=1 (rows):")
print(df6.apply(lambda row: row['A'] + row['G'], axis=1))

Apply square function to column A:
2024-01-01     1
2024-01-02     4
2024-01-03     9
2024-01-04    16
2024-01-05    25
2024-01-06    36
Freq: D, Name: A, dtype: int64

Apply function to entire DataFrame:
A      5
B    N/A
C    NaN
D    N/A
E    N/A
F    N/A
G    5.5
H    N/A
dtype: object

Apply along axis=1 (rows):
2024-01-01     2.1
2024-01-02     4.2
2024-01-03     6.3
2024-01-04     8.4
2024-01-05    10.5
2024-01-06    12.6
Freq: D, dtype: float64

In [272]:
# Map and transform
print("\nMap function on column E:")
mapping = {'test': 'TEST', 'train': 'TRAIN'}
print(df6['E'].map(mapping))
print("\nTransform with multiple functions:")
print(df6[['A', 'G']].transform(['sqrt', 'square']))

Map function on column E:
2024-01-01     TEST
2024-01-02    TRAIN
2024-01-03     TEST
2024-01-04    TRAIN
2024-01-05     TEST
2024-01-06    TRAIN
Freq: D, Name: E, dtype: category
Categories (2, object): ['TEST', 'TRAIN']

Transform with multiple functions:
                   A                G
                sqrt square      sqrt square
2024-01-01  1.000000      1  1.048809   1.21
2024-01-02  1.414214      4  1.483240   4.84
2024-01-03  1.732051      9  1.816590  10.89
2024-01-04  2.000000     16  2.097618  19.36
2024-01-05  2.236068     25  2.345208  30.25
2024-01-06  2.449490     36  2.569047  43.56

In [273]:
# Aggregation
print("\nAggregation (multiple functions on column A):")
print(df6['A'].agg(['sum', 'min', 'max', 'mean', 'std']))
print("\nAggregation on multiple columns:")
print(df6.agg({'A': ['sum', 'mean'], 'G': ['min', 'max']}))

Aggregation (multiple functions on column A):
sum     21.000000
min      1.000000
max      6.000000
mean     3.500000
std      1.870829
Name: A, dtype: float64

Aggregation on multiple columns:
         A    G
sum   21.0  NaN
mean   3.5  NaN
min    NaN  1.1
max    NaN  6.6

In [274]:
# Window functions
print("\nCumulative sum:")
print(df6['A'].cumsum())
print("\nCumulative product:")
print(df6['A'].cumprod())
print("\nCumulative minimum:")
print(df6['A'].cummin())
print("\nCumulative maximum:")
print(df6['A'].cummax())
print("\nPercent change:")
print(df6['A'].pct_change())
print("\nRank:")
print(df6['A'].rank())
print("\nRank with different methods:")
print(df6['A'].rank(method='dense'))

Cumulative sum:
2024-01-01     1
2024-01-02     3
2024-01-03     6
2024-01-04    10
2024-01-05    15
2024-01-06    21
Freq: D, Name: A, dtype: int64

Cumulative product:
2024-01-01      1
2024-01-02      2
2024-01-03      6
2024-01-04     24
2024-01-05    120
2024-01-06    720
Freq: D, Name: A, dtype: int64

Cumulative minimum:
2024-01-01    1
2024-01-02    1
2024-01-03    1
2024-01-04    1
2024-01-05    1
2024-01-06    1
Freq: D, Name: A, dtype: int64

Cumulative maximum:
2024-01-01    1
2024-01-02    2
2024-01-03    3
2024-01-04    4
2024-01-05    5
2024-01-06    6
Freq: D, Name: A, dtype: int64

Percent change:
2024-01-01         NaN
2024-01-02    1.000000
2024-01-03    0.500000
2024-01-04    0.333333
2024-01-05    0.250000
2024-01-06    0.200000
Freq: D, Name: A, dtype: float64

Rank:
2024-01-01    1.0
2024-01-02    2.0
2024-01-03    3.0
2024-01-04    4.0
2024-01-05    5.0
2024-01-06    6.0
Freq: D, Name: A, dtype: float64

Rank with different methods:
2024-01-01    1.0
2024-01-02    2.0
2024-01-03    3.0
2024-01-04    4.0
2024-01-05    5.0
2024-01-06    6.0
Freq: D, Name: A, dtype: float64

In [275]:
# Shift and diff operations
print("\nShift forward by 1:")
print(df6['A'].shift(1))
print("\nShift backward by 1:")
print(df6['A'].shift(-1))
print("\nDifference:")
print(df6['A'].diff())

Shift forward by 1:
2024-01-01    NaN
2024-01-02    1.0
2024-01-03    2.0
2024-01-04    3.0
2024-01-05    4.0
2024-01-06    5.0
Freq: D, Name: A, dtype: float64

Shift backward by 1:
2024-01-01    2.0
2024-01-02    3.0
2024-01-03    4.0
2024-01-04    5.0
2024-01-05    6.0
2024-01-06    NaN
Freq: D, Name: A, dtype: float64

Difference:
2024-01-01    NaN
2024-01-02    1.0
2024-01-03    1.0
2024-01-04    1.0
2024-01-05    1.0
2024-01-06    1.0
Freq: D, Name: A, dtype: float64

In [276]:
# Additional operations
print("\nRound:")
print(df6['G'].round(1))
print("\nAbsolute values:")
print(df6['A'].abs())
print("\nClip values:")
print(df6['A'].clip(lower=2, upper=5))
print()

Round:
2024-01-01    1.1
2024-01-02    2.2
2024-01-03    3.3
2024-01-04    4.4
2024-01-05    5.5
2024-01-06    6.6
Freq: D, Name: G, dtype: float64

Absolute values:
2024-01-01    1
2024-01-02    2
2024-01-03    3
2024-01-04    4
2024-01-05    5
2024-01-06    6
Freq: D, Name: A, dtype: int64

Clip values:
2024-01-01    2
2024-01-02    2
2024-01-03    3
2024-01-04    4
2024-01-05    5
2024-01-06    5
Freq: D, Name: A, dtype: int64

In [277]:
print("DataFrame df2:")
print(df2)
print("\nDataFrame df3:")
print(df3)

# Comprehensive merging
print("\nInner merge:")
print(pd.merge(df2, df3, on='key', how='inner'))
print("\nLeft merge:")
print(pd.merge(df2, df3, on='key', how='left'))
print("\nRight merge:")
print(pd.merge(df2, df3, on='key', how='right'))
print("\nOuter merge:")
print(pd.merge(df2, df3, on='key', how='outer'))

DataFrame df2:
  key  val1
0   A    10
1   B    20
2   C    30

DataFrame df3:
  key  val2
0   A   100
1   B   200
2   D   400

Inner merge:
  key  val1  val2
0   A    10   100
1   B    20   200

Left merge:
  key  val1   val2
0   A    10  100.0
1   B    20  200.0
2   C    30    NaN

Right merge:
  key  val1  val2
0   A  10.0   100
1   B  20.0   200
2   D   NaN   400

Outer merge:
  key  val1   val2
0   A  10.0  100.0
1   B  20.0  200.0
2   C  30.0    NaN
3   D   NaN  400.0

In [278]:
# Merge with different column names
df_left = pd.DataFrame({'key1': ['A', 'B', 'C'], 'value_left': [1, 2, 3]})
df_right = pd.DataFrame({'key2': ['A', 'B', 'D'], 'value_right': [10, 20, 40]})
print("\nMerge with different key names:")
print(pd.merge(df_left, df_right, left_on='key1', right_on='key2'))

Merge with different key names:
  key1  value_left key2  value_right
0    A           1    A           10
1    B           2    B           20

  key1  value_left key2  value_right
0    A           1    A           10
1    B           2    B           20

In [279]:
# Merge on index
df_idx1 = df2.set_index('key')
df_idx2 = df3.set_index('key')
print("\nMerge on index:")
print(pd.merge(df_idx1, df_idx2, left_index=True, right_index=True))

Merge on index:
     val1  val2
key
A      10   100
B      20   200

In [280]:
# Join operations
print("\nJoin operation (default left join):")
print(df_idx1.join(df_idx2))
print("\nJoin with suffix:")
print(df_idx1.join(df_idx2, rsuffix='_right'))

Join operation (default left join):
     val1   val2
key
A      10  100.0
B      20  200.0
C      30    NaN

Join with suffix:
     val1   val2
key
A      10  100.0
B      20  200.0
C      30    NaN

In [281]:
# Concatenate operations
print("\nConcatenate DataFrames vertically:")
print(pd.concat([df2, df3], ignore_index=True))
print("\nConcatenate horizontally:")
print(pd.concat([df4, df5], axis=1))
print("\nConcatenate with keys:")
print(pd.concat([df2, df3], keys=['df2', 'df3']))

Concatenate DataFrames vertically:
  key  val1   val2
0   A  10.0    NaN
1   B  20.0    NaN
2   C  30.0    NaN
3   A   NaN  100.0
4   B   NaN  200.0
5   D   NaN  400.0

Concatenate horizontally:
      name  age product  price
0    Alice   25       X    100
1      Bob   30       Y    200
2  Charlie   35       Z    300

Concatenate with keys:
      key  val1   val2
df2 0   A  10.0    NaN
    1   B  20.0    NaN
    2   C  30.0    NaN
df3 0   A   NaN  100.0
    1   B   NaN  200.0
    2   D   NaN  400.0

In [282]:
# Advanced merge operations
dates1 = pd.date_range('2024-01-01', periods=3)
dates2 = pd.date_range('2024-01-02', periods=3)
ts1 = pd.DataFrame({'date': dates1, 'value1': [1, 2, 3]})
ts2 = pd.DataFrame({'date': dates2, 'value2': [10, 20, 30]})
print("\nMerge ordered (for time series):")
print(pd.merge_ordered(ts1, ts2, on='date'))
print("\nMerge asof (backward search):")
print(pd.merge_asof(ts1, ts2, on='date'))

Merge ordered (for time series):
        date  value1  value2
0 2024-01-01     1.0     NaN
1 2024-01-02     2.0    10.0
2 2024-01-03     3.0    20.0
3 2024-01-04     NaN    30.0

Merge asof (backward search):
        date  value1  value2
0 2024-01-01       1     NaN
1 2024-01-02       2    10.0
2 2024-01-03       3    20.0

In [283]:
# Compare DataFrames
df_compare1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df_compare2 = pd.DataFrame({'A': [1, 2, 4], 'B': [4, 6, 6]})
print("\nCompare DataFrames:")
print(df_compare1.compare(df_compare2))

Compare DataFrames:
     A          B
  self other self other
1  NaN   NaN  5.0   6.0
2  3.0   4.0  NaN   NaN

In [284]:
# Additional merge methods
print("\nMerge with indicator:")
print(pd.merge(df2, df3, on='key', how='outer', indicator=True))
print("\nMerge with validate:")
print(pd.merge(df2, df3, on='key', how='left', validate='one_to_one'))
print()

Merge with indicator:
  key  val1   val2      _merge
0   A  10.0  100.0        both
1   B  20.0  200.0        both
2   C  30.0    NaN   left_only
3   D   NaN  400.0  right_only

Merge with validate:
  key  val1   val2
0   A    10  100.0
1   B    20  200.0
2   C    30    NaN

In [285]:
# Comprehensive grouping
print("Group by category E in df6:")
grouped = df6.groupby('E')
for name, group in grouped:
    print(f"\nGroup {name}:")
    print(group)

print("\nGrouped aggregation on df6:")
print(df6.groupby('E')['A'].sum())

Group by category E in df6:

Group test:
            A          B   C  D     E    F    G    H
2024-01-01  1 2024-01-02 NaN  3  test  foo  1.1  NaN
2024-01-03  3 2024-01-02 NaN  3  test  foo  3.3  NaN
2024-01-05  5 2024-01-02 NaN  3  test  foo  5.5  NaN

Group train:
            A          B   C  D      E    F    G    H
2024-01-02  2 2024-01-02 NaN  3  train  foo  2.2  NaN
2024-01-04  4 2024-01-02 NaN  3  train  foo  4.4  NaN
2024-01-06  6 2024-01-02 NaN  3  train  foo  6.6  NaN

Grouped aggregation on df6:
E
test      9
train    12
Name: A, dtype: int64

In [286]:
# Multiple aggregations
print("\nMultiple aggregations by group:")
print(df6.groupby('E').agg({'A': 'sum', 'G': 'mean'}))

Multiple aggregations by group:
        A    G
E
test    9  3.3
train  12  4.4

In [287]:
# GroupBy with multiple columns
df_multi_group = pd.DataFrame({
    'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar'],
    'B': ['one', 'one', 'two', 'three', 'two', 'two'],
    'C': [1, 2, 3, 4, 5, 6],
    'D': [10, 20, 30, 40, 50, 60]
})
print("\nMulti-column grouping:")
print(df_multi_group.groupby(['A', 'B']).sum())

Multi-column grouping:
           C   D
A   B
bar one    2  20
    three  4  40
    two    6  60
foo one    1  10
    two    8  80

In [288]:
# Advanced grouping methods
print("\nDifferent aggregation functions:")
print(df6.groupby('E').agg({
    'A': ['count', 'sum', 'mean', 'std'],
    'G': ['min', 'max', 'median']
}))
print("\nCustom aggregation function:")
print(df6.groupby('E')['A'].agg(lambda x: x.max() - x.min()))
print("\nTransform (group-wise standardization):")
print(df6.groupby('E')['A'].transform(lambda x: (x - x.mean()) / x.std()))
print("\nFilter groups (groups where sum of A > 6):")
print(df6.groupby('E').filter(lambda x: x['A'].sum() > 6))

def custom_func(group):
    return group['A'].sum() / group['G'].mean()

print("\nApply custom function to groups:")
print(df6.groupby('E').apply(custom_func))

Different aggregation functions:
          A                  G
      count sum mean  std  min  max median
E
test      3   9  3.0  2.0  1.1  5.5    3.3
train     3  12  4.0  2.0  2.2  6.6    4.4

Custom aggregation function:
E
test     4
train    4
Name: A, dtype: int64

Transform (group-wise standardization):
2024-01-01   -1.0
2024-01-02   -1.0
2024-01-03    0.0
2024-01-04    0.0
2024-01-05    1.0
2024-01-06    1.0
Freq: D, Name: A, dtype: float64

Filter groups (groups where sum of A > 6):
            A          B   C  D      E    F    G    H
2024-01-01  1 2024-01-02 NaN  3   test  foo  1.1  NaN
2024-01-02  2 2024-01-02 NaN  3  train  foo  2.2  NaN
2024-01-03  3 2024-01-02 NaN  3   test  foo  3.3  NaN
2024-01-04  4 2024-01-02 NaN  3  train  foo  4.4  NaN
2024-01-05  5 2024-01-02 NaN  3   test  foo  5.5  NaN
2024-01-06  6 2024-01-02 NaN  3  train  foo  6.6  NaN

Apply custom function to groups:
E
test     2.727273
train    2.727273
dtype: float64

In [289]:
# Additional grouping methods
print("\nGroupby with multiple functions:")
print(df6.groupby('E').agg({
    'A': ['sum', 'mean', 'count'],
    'G': ['min', 'max', 'std']
}))
print("\nGroupby with custom aggregation:")
print(df6.groupby('E').agg(
    A_sum=('A', 'sum'),
    G_mean=('G', 'mean'),
    G_std=('G', 'std')
))
print("\nGroupby with quantiles:")
print(df6.groupby('E')['A'].quantile([0.25, 0.5, 0.75]))
print("\nGroupby with multiple statistics:")
print(df6.groupby('E').describe())

Groupby with multiple functions:
        A               G
      sum mean count  min  max  std
E
test    9  3.0     3  1.1  5.5  2.2
train  12  4.0     3  2.2  6.6  2.2

Groupby with custom aggregation:
       A_sum  G_mean  G_std
E
test       9     3.3    2.2
train     12     4.4    2.2

Groupby with quantiles:
E
test   0.25    2.0
       0.50    3.0
       0.75    4.0
train  0.25    3.0
       0.50    4.0
       0.75    5.0
Name: A, dtype: float64

Groupby with multiple statistics:
          A                                        B                       \
      count mean  min  25%  50%  75%  max  std count                 mean
E
test    3.0  3.0  1.0  2.0  3.0  4.0  5.0  2.0     3  2024-01-02 00:00:00
train   3.0  4.0  2.0  3.0  4.0  5.0  6.0  2.0     3  2024-01-02 00:00:00

       ...    D          G
       ...  max  std count mean  min  25%  50%  75%  max  std
E      ...
test   ...  3.0  0.0   3.0  3.3  1.1  2.2  3.3  4.4  5.5  2.2
train  ...  3.0  0.0   3.0  4.4  2.2  3.3  4.4  5.5  6.6  2.2

[2 rows x 40 columns]

In [290]:
# Time-based grouping
df_time_group = df6.copy()
df_time_group['month'] = df_time_group.index.month
print("\nGroup by month:")
print(df_time_group.groupby('month')['A'].mean())
print("\nUsing Grouper for datetime grouping:")
print(df6.groupby(pd.Grouper(freq='2D'))['A'].sum())

Group by month:
month
1    3.5
Name: A, dtype: float64

Using Grouper for datetime grouping:
2024-01-01     3
2024-01-03     7
2024-01-05    11
Freq: 2D, Name: A, dtype: int64

In [291]:
# Group statistics
print("\nSize of each group:")
print(df6.groupby('E').size())
print("\nCount of non-null values in each group:")
print(df6.groupby('E').count())
print("\nFirst element of each group:")
print(df6.groupby('E').nth(0))
print("\nSecond element of each group:")
print(df6.groupby('E').nth(1))
print("\nFirst 2 rows of each group:")
print(df6.groupby('E').head(2))
print()

Size of each group:
E
test     3
train    3
dtype: int64

Count of non-null values in each group:
       A  B  C  D  F  G  H
E
test   3  3  0  3  3  3  0
train  3  3  0  3  3  3  0

First element of each group:
            A          B   C  D      E    F    G    H
2024-01-01  1 2024-01-02 NaN  3   test  foo  1.1  NaN
2024-01-02  2 2024-01-02 NaN  3  train  foo  2.2  NaN

Second element of each group:
            A          B   C  D      E    F    G    H
2024-01-03  3 2024-01-02 NaN  3   test  foo  3.3  NaN
2024-01-04  4 2024-01-02 NaN  3  train  foo  4.4  NaN

First 2 rows of each group:
            A          B   C  D      E    F    G    H
2024-01-01  1 2024-01-02 NaN  3   test  foo  1.1  NaN
2024-01-02  2 2024-01-02 NaN  3  train  foo  2.2  NaN
2024-01-03  3 2024-01-02 NaN  3   test  foo  3.3  NaN
2024-01-04  4 2024-01-02 NaN  3  train  foo  4.4  NaN

In [292]:


# Comprehensive reshaping
pivot_data = pd.DataFrame({
    'A': ['foo', 'foo', 'bar', 'bar', 'foo', 'bar'],
    'B': ['one', 'two', 'one', 'two', 'two', 'one'],
    'C': [1, 2, 3, 4, 5, 6],
    'D': [10, 20, 30, 40, 50, 60]
})

print("Pivot data:")
print(pivot_data)

pivot_table = pivot_data.pivot_table(values='C', index='A', columns='B', aggfunc='sum')
print("\nPivot table:")
print(pivot_table)

Pivot data:
     A    B  C   D
0  foo  one  1  10
1  foo  two  2  20
2  bar  one  3  30
3  bar  two  4  40
4  foo  two  5  50
5  bar  one  6  60

Pivot table:
B    one  two
A
bar    9    4
foo    1    7

Pivot table:
B    one  two
A
bar    9    4
foo    1    7

In [293]:
# Stack and unstack
print("\nStacked:")
stacked = pivot_table.stack()
print(stacked)
print("\nUnstacked:")
print(stacked.unstack())

Stacked:
A    B
bar  one    9
     two    4
foo  one    1
     two    7
dtype: int64

Unstacked:
B    one  two
A
bar    9    4
foo    1    7

In [294]:
# Melt
melted = pd.melt(pivot_data, id_vars=['A'], value_vars=['C', 'D'])
print("\nMelted DataFrame:")
print(melted)

Melted DataFrame:
      A variable  value
0   foo        C      1
1   foo        C      2
2   bar        C      3
3   bar        C      4
4   foo        C      5
5   bar        C      6
6   foo        D     10
7   foo        D     20
8   bar        D     30
9   bar        D     40
10  foo        D     50
11  bar        D     60

In [295]:
# Advanced reshaping
print("\nPivot with multiple values:")
print(pivot_data.pivot_table(values=['C', 'D'], index='A', columns='B', aggfunc='sum'))
print("\nPivot with margins:")
print(pivot_data.pivot_table(values='C', index='A', columns='B', aggfunc='sum', margins=True))

Pivot with multiple values:
      C       D
B   one two one two
A
bar   9   4  90  40
foo   1   7  10  70

Pivot with margins:
B    one  two  All
A
bar    9    4   13
foo    1    7    8
All   10   11   21

In [296]:
# Wide to long
print("\nWide to long format (melt with multiple value columns):")
print(pd.melt(pivot_data, id_vars=['A', 'B'], value_vars=['C', 'D'], var_name='metric', value_name='value'))

Wide to long format (melt with multiple value columns):
      A    B metric  value
0   foo  one      C      1
1   foo  two      C      2
2   bar  one      C      3
3   bar  two      C      4
4   foo  two      C      5
5   bar  one      C      6
6   foo  one      D     10
7   foo  two      D     20
8   bar  one      D     30
9   bar  two      D     40
10  foo  two      D     50
11  bar  one      D     60

In [297]:
# Crosstab
print("\nCrosstab:")
print(pd.crosstab(pivot_data['A'], pivot_data['B'], values=pivot_data['C'], aggfunc='sum'))
print()

Crosstab:
B    one  two
A
bar    9    4
foo    1    7

In [298]:
# Comprehensive time series
ts_index = pd.date_range('2024-01-01', periods=100, freq='D')
ts_data = pd.DataFrame({
    'value': np.random.randn(100).cumsum(),
    'category': np.random.choice(['A', 'B', 'C'], 100)
}, index=ts_index)

print("Time series data (first 5 rows):")
print(ts_data.head())

Time series data (first 5 rows):
               value category
2024-01-01 -1.594215        B
2024-01-02 -1.617355        B
2024-01-03 -0.758124        C
2024-01-04  0.854812        C
2024-01-05 -0.078448        A

In [299]:
# Resample
print("\nMonthly resampled data:")
print(ts_data['value'].resample('M').mean())
print("\nWeekly resampled data:")
print(ts_data['value'].resample('W').sum())

Monthly resampled data:
2024-01-31   -1.050756
2024-02-29    2.954332
2024-03-31    5.247298
2024-04-30    8.357132
Freq: ME, Name: value, dtype: float64

Weekly resampled data:
2024-01-07    -6.358179
2024-01-14   -10.903426
2024-01-21   -14.810924
2024-01-28     2.712757
2024-02-04    -7.680895
2024-02-11     5.540213
2024-02-18    37.037502
2024-02-25    30.581262
2024-03-03    31.926868
2024-03-10    38.796564
2024-03-17    33.399952
2024-03-24    45.124741
2024-03-31    30.402010
2024-04-07    56.197030
2024-04-14    19.017155
Freq: W-SUN, Name: value, dtype: float64

In [300]:
# Rolling window
print("\n7-day rolling mean (first 10 values):")
print(ts_data['value'].rolling(window=7).mean().head(10))
print("\n7-day rolling std:")
print(ts_data['value'].rolling(window=7).std().head(10))

7-day rolling mean (first 10 values):
2024-01-01         NaN
2024-01-02         NaN
2024-01-03         NaN
2024-01-04         NaN
2024-01-05         NaN
2024-01-06         NaN
2024-01-07   -0.908311
2024-01-08   -0.827810
2024-01-09   -0.673045
2024-01-10   -0.744133
Freq: D, Name: value, dtype: float64

7-day rolling std:
2024-01-01         NaN
2024-01-02         NaN
2024-01-03         NaN
2024-01-04         NaN
2024-01-05         NaN
2024-01-06         NaN
2024-01-07    1.007963
2024-01-08    0.965668
2024-01-09    0.902807
2024-01-10    0.929810
Freq: D, Name: value, dtype: float64

In [301]:
# Expanding window
print("\nExpanding mean (first 10 values):")
print(ts_data['value'].expanding().mean().head(10))

Expanding mean (first 10 values):
2024-01-01   -1.594215
2024-01-02   -1.605785
2024-01-03   -1.323231
2024-01-04   -0.778720
2024-01-05   -0.638666
2024-01-06   -0.721981
2024-01-07   -0.908311
2024-01-08   -0.923611
2024-01-09   -0.880320
2024-01-10   -0.917862
Freq: D, Name: value, dtype: float64

In [302]:
# Date/time components
print("\nDate components:")
print(f"Year: {ts_data.index.year[:5].tolist()}")
print(f"Month: {ts_data.index.month[:5].tolist()}")
print(f"Day: {ts_data.index.day[:5].tolist()}")
print(f"Day of week: {ts_data.index.dayofweek[:5].tolist()}")
print(f"Day name: {ts_data.index.day_name()[:5].tolist()}")

Date components:
Year: [2024, 2024, 2024, 2024, 2024]
Month: [1, 1, 1, 1, 1]
Day: [1, 2, 3, 4, 5]
Day of week: [0, 1, 2, 3, 4]
Day name: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [303]:
# Time zone operations
print("\nTime zone operations:")
ts_utc = ts_data.tz_localize('UTC')
print(f"UTC timezone: {ts_utc.index.tz}")
ts_est = ts_utc.tz_convert('US/Eastern')
print(f"EST timezone: {ts_est.index.tz}")

Time zone operations:
UTC timezone: UTC
EST timezone: US/Eastern

In [304]:
# Lag and lead
print("\nLag (shift forward):")
print(ts_data['value'].shift(1).head())
print("\nLead (shift backward):")
print(ts_data['value'].shift(-1).head())

Lag (shift forward):
2024-01-01         NaN
2024-01-02   -1.594215
2024-01-03   -1.617355
2024-01-04   -0.758124
2024-01-05    0.854812
Freq: D, Name: value, dtype: float64

Lead (shift backward):
2024-01-01   -1.617355
2024-01-02   -0.758124
2024-01-03    0.854812
2024-01-04   -0.078448
2024-01-05   -1.138558
Freq: D, Name: value, dtype: float64

In [305]:
# Business day operations
print("\nBusiness day frequency:")
bday_range = pd.bdate_range('2024-01-01', periods=10)
print(bday_range)

Business day frequency:
DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-08', '2024-01-09', '2024-01-10',
               '2024-01-11', '2024-01-12'],
              dtype='datetime64[ns]', freq='B')

In [306]:
# Period operations
print("\nPeriod operations:")
periods = pd.period_range('2024-01', periods=12, freq='M')
print(periods)

Period operations:
PeriodIndex(['2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06',
             '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12'],
            dtype='period[M]')

In [307]:
# Offset operations
print("\nOffset operations:")
from pandas.tseries.offsets import BDay, MonthEnd
print(f"Business day offset: {pd.Timestamp('2024-01-01') + BDay(5)}")
print(f"Month end offset: {pd.Timestamp('2024-01-15') + MonthEnd(1)}")
print()

Offset operations:
Business day offset: 2024-01-08 00:00:00
Month end offset: 2024-01-31 00:00:00

In [308]:
# Comprehensive categoricals
cat_data = pd.Categorical(['a', 'b', 'c', 'a', 'b', 'c'])
cat_df = pd.DataFrame({'category': cat_data, 'value': [1, 2, 3, 4, 5, 6]})

print("Categorical DataFrame:")
print(cat_df)
print(f"Categories: {cat_data.categories}")
print(f"Codes: {cat_data.codes}")

Categorical DataFrame:
  category  value
0        a      1
1        b      2
2        c      3
3        a      4
4        b      5
5        c      6
Categories: Index(['a', 'b', 'c'], dtype='object')
Codes: [0 1 2 0 1 2]

In [309]:
# Ordered categorical
ordered_cat = pd.Categorical(['small', 'medium', 'large', 'small', 'large'], 
                        categories=['small', 'medium', 'large'], 
                        ordered=True)
print(f"\nOrdered categorical: {ordered_cat}")

Ordered categorical: ['small', 'medium', 'large', 'small', 'large']
Categories (3, object): ['small' < 'medium' < 'large']

In [310]:
# Categorical operations
print("\nCategorical operations:")
print(f"Add categories: {cat_data.add_categories(['d'])}")
print(f"Remove categories: {cat_data.remove_categories(['a'])}")
print(f"Rename categories: {cat_data.rename_categories(['x', 'y', 'z'])}")
print(f"Reorder categories: {cat_data.reorder_categories(['c', 'b', 'a'])}")

Categorical operations:
Add categories: ['a', 'b', 'c', 'a', 'b', 'c']
Categories (4, object): ['a', 'b', 'c', 'd']
Remove categories: [NaN, 'b', 'c', NaN, 'b', 'c']
Categories (2, object): ['b', 'c']
Rename categories: ['x', 'y', 'z', 'x', 'y', 'z']
Categories (3, object): ['x', 'y', 'z']
Reorder categories: ['a', 'b', 'c', 'a', 'b', 'c']
Categories (3, object): ['c', 'b', 'a']

In [311]:
# Convert to categorical
print("\nConvert to categorical:")
regular_series = pd.Series(['red', 'blue', 'red', 'green', 'blue'])
cat_series = regular_series.astype('category')
print(f"Original: {regular_series.dtype}")
print(f"Categorical: {cat_series.dtype}")
print(f"Categories: {cat_series.cat.categories}")

Convert to categorical:
Original: object
Categorical: category
Categories: Index(['blue', 'green', 'red'], dtype='object')

In [312]:
# Memory usage comparison
print(f"\nMemory usage comparison:")
print(f"Regular series: {regular_series.memory_usage(deep=True)} bytes")
print(f"Categorical series: {cat_series.memory_usage(deep=True)} bytes")
print()

Memory usage comparison:
Regular series: 396 bytes
Categorical series: 404 bytes

In [313]:
# Comprehensive string operations
str_df = pd.DataFrame({
    'text': ['Hello World', 'PANDAS is Great', 'data Science', 'Python Programming'],
    'numbers': ['123-456', '789-012', '345-678', '901-234'],
    'emails': ['user@domain.com', 'test@email.org', 'admin@site.net', 'info@company.co.uk'],
    'mixed': ['ABC123def', 'XYZ789ghi', 'MNO456jkl', 'PQR111stu']
})

print("String DataFrame:")
print(str_df)

String DataFrame:
                 text  numbers              emails      mixed
0         Hello World  123-456     user@domain.com  ABC123def
1     PANDAS is Great  789-012      test@email.org  XYZ789ghi
2        data Science  345-678      admin@site.net  MNO456jkl
3  Python Programming  901-234  info@company.co.uk  PQR111stu

In [314]:
# Basic string operations
print("\nBasic string operations:")
print("Uppercase:", str_df['text'].str.upper())
print("Lowercase:", str_df['text'].str.lower())
print("Title case:", str_df['text'].str.title())
print("Capitalize:", str_df['text'].str.capitalize())
print("String length:", str_df['text'].str.len())
print("Split strings:", str_df['text'].str.split())
print("Contains 'data':", str_df['text'].str.contains('data', case=False))

Basic string operations:
Uppercase: 0           HELLO WORLD
1       PANDAS IS GREAT
2          DATA SCIENCE
3    PYTHON PROGRAMMING
Name: text, dtype: object
Lowercase: 0           hello world
1       pandas is great
2          data science
3    python programming
Name: text, dtype: object
Title case: 0           Hello World
1       Pandas Is Great
2          Data Science
3    Python Programming
Name: text, dtype: object
Capitalize: 0           Hello world
1       Pandas is great
2          Data science
3    Python programming
Name: text, dtype: object
String length: 0    11
1    15
2    12
3    18
Name: text, dtype: int64
Split strings: 0           [Hello, World]
1      [PANDAS, is, Great]
2          [data, Science]
3    [Python, Programming]
Name: text, dtype: object
Contains 'data': 0    False
1    False
2     True
3    False
Name: text, dtype: bool

In [315]:
# Advanced string operations
print("\nAdvanced string operations:")
print("Replace:", str_df['text'].str.replace(' ', '_'))
print("Slice:", str_df['text'].str[0:5])
print("Pad:", str_df['text'].str.pad(20, side='both', fillchar='-'))
print("Center:", str_df['text'].str.center(20, fillchar='*'))
print("Zfill:", str_df['mixed'].str.zfill(15))
print("Strip whitespace:", str_df['text'].str.strip())
print("Startswith:", str_df['text'].str.startswith('P'))
print("Endswith:", str_df['text'].str.endswith('g'))

Advanced string operations:
Replace: 0           Hello_World
1       PANDAS_is_Great
2          data_Science
3    Python_Programming
Name: text, dtype: object
Slice: 0    Hello
1    PANDA
2    data
3    Pytho
Name: text, dtype: object
Pad: 0    ----Hello World-----
1    --PANDAS is Great---
2    ----data Science----
3    -Python Programming-
Name: text, dtype: object
Center: 0    ****Hello World*****
1    **PANDAS is Great***
2    ****data Science****
3    *Python Programming*
Name: text, dtype: object
Zfill: 0    000000ABC123def
1    000000XYZ789ghi
2    000000MNO456jkl
3    000000PQR111stu
Name: mixed, dtype: object
Strip whitespace: 0           Hello World
1       PANDAS is Great
2          data Science
3    Python Programming
Name: text, dtype: object
Startswith: 0    False
1     True
2    False
3     True
Name: text, dtype: bool
Endswith: 0    False
1    False
2    False
3     True
Name: text, dtype: bool

In [316]:
# Regular expressions
print("\nRegular expressions:")
print("Find all digits:", str_df['mixed'].str.findall(r'\d+'))
print("Extract numbers:", str_df['numbers'].str.extract(r'(\d+)-(\d+)'))
print("Extract email parts:", str_df['emails'].str.extract(r'([^@]+)@([^.]+)\.(.+)'))
print("Match pattern:", str_df['text'].str.match(r'[A-Z]'))
print("Replace with regex:", str_df['mixed'].str.replace(r'\d+', 'NUM', regex=True))

Regular expressions:
Find all digits: 0    [123]
1    [789]
2    [456]
3    [111]
Name: mixed, dtype: object
Extract numbers:      0    1
0  123  456
1  789  012
2  345  678
3  901  234
Extract email parts:        0        1      2
0   user   domain    com
1   test    email    org
2  admin     site    net
3   info  company  co.uk
Match pattern: 0     True
1     True
2    False
3     True
Name: text, dtype: bool
Replace with regex: 0    ABCNUMdef
1    XYZNUMghi
2    MNONUMjkl
3    PQRNUMstu
Name: mixed, dtype: object

In [317]:
# String indexing and slicing
print("\nString indexing and slicing:")
print("Get first character:", str_df['text'].str[0])
print("Get last character:", str_df['text'].str[-1])
print("Slice from position 2 to 5:", str_df['text'].str[2:5])

String indexing and slicing:
Get first character: 0    H
1    P
2    d
3    P
Name: text, dtype: object
Get last character: 0    d
1    t
2    e
3    g
Name: text, dtype: object
Slice from position 2 to 5: 0    llo
1    NDA
2    ta
3    tho
Name: text, dtype: object

In [318]:
# String formatting
print("\nString formatting:")
print("Count occurrences:", str_df['text'].str.count('a'))
print("Index of substring:", str_df['text'].str.find('a'))
print("Repeat string:", str_df['text'].str.repeat(2))

String formatting:
Count occurrences: 0    0
1    1
2    2
3    1
Name: text, dtype: int64
Index of substring: 0    -1
1    13
2     1
3    12
Name: text, dtype: int64
Repeat string: 0                  Hello WorldHello World
1          PANDAS is GreatPANDAS is Great
2                data Sciencedata Science
3    Python ProgrammingPython Programming
Name: text, dtype: object

In [319]:
# Encoding/decoding
print("\nEncoding operations:")
print("Encode to bytes:", str_df['text'].str.encode('utf-8'))
print("Normalize (remove accents):")
accented = pd.Series(['café', 'résumé', 'naïve'])
print(accented.str.normalize('NFD').str.encode('ascii', errors='ignore').str.decode('ascii'))
print()

Encoding operations:
Encode to bytes: 0           b'Hello World'
1       b'PANDAS is Great'
2          b'data Science'
3    b'Python Programming'
Name: text, dtype: object
Normalize (remove accents):
0      cafe
1    resume
2     naive
dtype: object

In [320]:
df6

            A          B   C  D      E    F    G    H
2024-01-01  1 2024-01-02 NaN  3   test  foo  1.1  NaN
2024-01-02  2 2024-01-02 NaN  3  train  foo  2.2  NaN
2024-01-03  3 2024-01-02 NaN  3   test  foo  3.3  NaN
2024-01-04  4 2024-01-02 NaN  3  train  foo  4.4  NaN
2024-01-05  5 2024-01-02 NaN  3   test  foo  5.5  NaN
2024-01-06  6 2024-01-02 NaN  3  train  foo  6.6  NaN

In [321]:
# df6.at[df6.index[0], 'B']
df6.at[df6.index[0], 'B'] = "2024-01-03 00:00:00"
df6

            A          B   C  D      E    F    G    H
2024-01-01  1 2024-01-03 NaN  3   test  foo  1.1  NaN
2024-01-02  2 2024-01-02 NaN  3  train  foo  2.2  NaN
2024-01-03  3 2024-01-02 NaN  3   test  foo  3.3  NaN
2024-01-04  4 2024-01-02 NaN  3  train  foo  4.4  NaN
2024-01-05  5 2024-01-02 NaN  3   test  foo  5.5  NaN
2024-01-06  6 2024-01-02 NaN  3  train  foo  6.6  NaN

In [322]:
#at,iat, iterrows,pyarrow usecases example
# df6.iat[0,0]
# df6.iat[0,1]


df6.iat[1,1] = "2025-01-02 00:00:00"
df6

            A          B   C  D      E    F    G    H
2024-01-01  1 2024-01-03 NaN  3   test  foo  1.1  NaN
2024-01-02  2 2025-01-02 NaN  3  train  foo  2.2  NaN
2024-01-03  3 2024-01-02 NaN  3   test  foo  3.3  NaN
2024-01-04  4 2024-01-02 NaN  3  train  foo  4.4  NaN
2024-01-05  5 2024-01-02 NaN  3   test  foo  5.5  NaN
2024-01-06  6 2024-01-02 NaN  3  train  foo  6.6  NaN

In [323]:
numpy_array = df6['B'].to_numpy()
numpy_array

array(['2024-01-03T00:00:00', '2025-01-02T00:00:00',
       '2024-01-02T00:00:00', '2024-01-02T00:00:00',
       '2024-01-02T00:00:00', '2024-01-02T00:00:00'],
      dtype='datetime64[s]')