## polar is more faster than pandas . it is same like pandas but it's performance is high

In [28]:
import polars as pl

In [29]:
df = pl.read_csv('titanic.csv')
df.head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [30]:
df.shape

(891, 12)

In [31]:
df.dtypes

[Int64,
 Int64,
 Int64,
 String,
 String,
 Float64,
 Int64,
 Int64,
 String,
 Float64,
 String,
 String]

In [32]:
df[0,:]

shape: (1, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬───────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket    ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---       ┆ ---  ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str       ┆ f64  ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═══════════╪══════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ A/5 21171 ┆ 7.25 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris           ┆   ┆           ┆      ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴───────────┴──────┴───────┴──────────┘

In [33]:
df[0,2:4]

shape: (1, 2)
┌────────┬─────────────────────────┐
│ Pclass ┆ Name                    │
│ ---    ┆ ---                     │
│ i64    ┆ str                     │
╞════════╪═════════════════════════╡
│ 3      ┆ Braund, Mr. Owen Harris │
└────────┴─────────────────────────┘

In [34]:
df[0:2,2:5]

shape: (2, 3)
┌────────┬─────────────────────────────────┬────────┐
│ Pclass ┆ Name                            ┆ Sex    │
│ ---    ┆ ---                             ┆ ---    │
│ i64    ┆ str                             ┆ str    │
╞════════╪═════════════════════════════════╪════════╡
│ 3      ┆ Braund, Mr. Owen Harris         ┆ male   │
│ 1      ┆ Cumings, Mrs. John Bradley (Fl… ┆ female │
└────────┴─────────────────────────────────┴────────┘

In [35]:
df.sample(5)

shape: (5, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 854         ┆ 1        ┆ 1      ┆ Lines, Miss. Mary  ┆ … ┆ PC 17592 ┆ 39.4    ┆ D28   ┆ S        │
│             ┆          ┆        ┆ Conover            ┆   ┆          ┆         ┆       ┆          │
│ 47          ┆ 0        ┆ 3      ┆ Lennon, Mr. Denis  ┆ … ┆ 370371   ┆ 15.5    ┆ null  ┆ Q        │
│ 8           ┆ 0        ┆ 3      ┆ Palsson, Master.   ┆ … ┆ 349909   ┆ 21.075  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Gosta Leonard      ┆   ┆          ┆         ┆       ┆          │
│ 216         ┆ 1        ┆ 1      ┆ Newell, Miss.      ┆ … ┆ 35273    ┆ 113.275 ┆ D36   ┆ C        │
│             ┆          ┆        ┆ Madeleine          ┆   ┆          ┆         ┆       ┆          │
│ 118         ┆ 0        ┆ 2      ┆ Turpin, Mr.        ┆ … ┆ 11668    ┆ 21.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William John       ┆   ┆          ┆         ┆       ┆          │
│             ┆          ┆        ┆ Rober…             ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

In [36]:
df.head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [37]:
df['Name']

shape: (891,)
Series: 'Name' [str]
[
	"Braund, Mr. Owen Harris"
	"Cumings, Mrs. John Bradley (Fl…
	"Heikkinen, Miss. Laina"
	"Futrelle, Mrs. Jacques Heath (…
	"Allen, Mr. William Henry"
	…
	"Montvila, Rev. Juozas"
	"Graham, Miss. Margaret Edith"
	"Johnston, Miss. Catherine Hele…
	"Behr, Mr. Karl Howell"
	"Dooley, Mr. Patrick"
]

In [38]:
import datetime as dt

df1 = pl.DataFrame(
    {
        "name": ["Alice Archer", "Ben Brown", "Chloe Cooper", "Daniel Donovan"],
        "birthdate": [
            dt.date(1997, 1, 10),
            dt.date(1985, 2, 15),
            dt.date(1983, 3, 22),
            dt.date(1981, 4, 30),
        ],
        "weight": [57.9, 72.5, 53.6, 83.1],  # (kg)
        "height": [1.56, 1.77, 1.65, 1.75],  # (m)
    }
)

print(df1)

shape: (4, 4)
┌────────────────┬────────────┬────────┬────────┐
│ name           ┆ birthdate  ┆ weight ┆ height │
│ ---            ┆ ---        ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ f64    ┆ f64    │
╞════════════════╪════════════╪════════╪════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└────────────────┴────────────┴────────┴────────┘

In [39]:
new_df = df.filter(pl.col("Sex") == "male")

In [41]:
df.filter(pl.col("Age") > 50)

shape: (64, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr.    ┆ … ┆ 17463      ┆ 51.8625 ┆ E46   ┆ S        │
│             ┆          ┆        ┆ Timothy J        ┆   ┆            ┆         ┆       ┆          │
│ 12          ┆ 1        ┆ 1      ┆ Bonnell, Miss.   ┆ … ┆ 113783     ┆ 26.55   ┆ C103  ┆ S        │
│             ┆          ┆        ┆ Elizabeth        ┆   ┆            ┆         ┆       ┆          │
│ 16          ┆ 1        ┆ 2      ┆ Hewlett, Mrs.    ┆ … ┆ 248706     ┆ 16.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ (Mary D          ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ Kingcome…        ┆   ┆            ┆         ┆       ┆          │
│ 34          ┆ 0        ┆ 2      ┆ Wheadon, Mr.     ┆ … ┆ C.A. 24579 ┆ 10.5    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Edward H         ┆   ┆            ┆         ┆       ┆          │
│ 55          ┆ 0        ┆ 1      ┆ Ostby, Mr.       ┆ … ┆ 113509     ┆ 61.9792 ┆ B30   ┆ C        │
│             ┆          ┆        ┆ Engelhart        ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ Cornelius        ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 821         ┆ 1        ┆ 1      ┆ Hays, Mrs.       ┆ … ┆ 12749      ┆ 93.5    ┆ B69   ┆ S        │
│             ┆          ┆        ┆ Charles Melville ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (C…              ┆   ┆            ┆         ┆       ┆          │
│ 830         ┆ 1        ┆ 1      ┆ Stone, Mrs.      ┆ … ┆ 113572     ┆ 80.0    ┆ B28   ┆ null     │
│             ┆          ┆        ┆ George Nelson    ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Mar…            ┆   ┆            ┆         ┆       ┆          │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr.    ┆ … ┆ 347060     ┆ 7.775   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Johan            ┆   ┆            ┆         ┆       ┆          │
│ 858         ┆ 1        ┆ 1      ┆ Daly, Mr. Peter  ┆ … ┆ 113055     ┆ 26.55   ┆ E17   ┆ S        │
│             ┆          ┆        ┆ Denis            ┆   ┆            ┆         ┆       ┆          │
│ 880         ┆ 1        ┆ 1      ┆ Potter, Mrs.     ┆ … ┆ 11767      ┆ 83.1583 ┆ C50   ┆ C        │
│             ┆          ┆        ┆ Thomas Jr (Lily  ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ A…               ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

In [40]:
new_df

shape: (577, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ A/5 21171  ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris           ┆   ┆            ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.       ┆ … ┆ 373450     ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry    ┆   ┆            ┆         ┆       ┆          │
│ 6           ┆ 0        ┆ 3      ┆ Moran, Mr. James ┆ … ┆ 330877     ┆ 8.4583  ┆ null  ┆ Q        │
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr.    ┆ … ┆ 17463      ┆ 51.8625 ┆ E46   ┆ S        │
│             ┆          ┆        ┆ Timothy J        ┆   ┆            ┆         ┆       ┆          │
│ 8           ┆ 0        ┆ 3      ┆ Palsson, Master. ┆ … ┆ 349909     ┆ 21.075  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Gosta Leonard    ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 884         ┆ 0        ┆ 2      ┆ Banfield, Mr.    ┆ … ┆ C.A./SOTON ┆ 10.5    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Frederick James  ┆   ┆ 34068      ┆         ┆       ┆          │
│ 885         ┆ 0        ┆ 3      ┆ Sutehall, Mr.    ┆ … ┆ SOTON/OQ   ┆ 7.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Henry Jr         ┆   ┆ 392076     ┆         ┆       ┆          │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.   ┆ … ┆ 211536     ┆ 13.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Juozas           ┆   ┆            ┆         ┆       ┆          │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl   ┆ … ┆ 111369     ┆ 30.0    ┆ C148  ┆ C        │
│             ┆          ┆        ┆ Howell           ┆   ┆            ┆         ┆       ┆          │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.      ┆ … ┆ 370376     ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick          ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

In [46]:
df.select(["Name", "Sex", "Age"])

shape: (891, 3)
┌─────────────────────────────────┬────────┬──────┐
│ Name                            ┆ Sex    ┆ Age  │
│ ---                             ┆ ---    ┆ ---  │
│ str                             ┆ str    ┆ f64  │
╞═════════════════════════════════╪════════╪══════╡
│ Braund, Mr. Owen Harris         ┆ male   ┆ 22.0 │
│ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ 38.0 │
│ Heikkinen, Miss. Laina          ┆ female ┆ 26.0 │
│ Futrelle, Mrs. Jacques Heath (… ┆ female ┆ 35.0 │
│ Allen, Mr. William Henry        ┆ male   ┆ 35.0 │
│ …                               ┆ …      ┆ …    │
│ Montvila, Rev. Juozas           ┆ male   ┆ 27.0 │
│ Graham, Miss. Margaret Edith    ┆ female ┆ 19.0 │
│ Johnston, Miss. Catherine Hele… ┆ female ┆ null │
│ Behr, Mr. Karl Howell           ┆ male   ┆ 26.0 │
│ Dooley, Mr. Patrick             ┆ male   ┆ 32.0 │
└─────────────────────────────────┴────────┴──────┘

In [47]:
df.group_by("Sex").agg([
    pl.col("Age").mean().alias("Average_Age")
])

shape: (2, 2)
┌────────┬─────────────┐
│ Sex    ┆ Average_Age │
│ ---    ┆ ---         │
│ str    ┆ f64         │
╞════════╪═════════════╡
│ female ┆ 27.915709   │
│ male   ┆ 30.726645   │
└────────┴─────────────┘